.error-img {
    background: url("./../../../assets/error.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 100%;
    width: 300px;
    height: 300px;
    margin: auto;
  }