@use '@angular/material' as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$blue-palette, 700, 600, 900);
$app-accent: mat.define-palette(mat.$indigo-palette, A400, A200, A100);
$app-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-dark-theme((
 color: (
   primary: $app-primary,
   accent: $app-accent,
   warn: $app-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($app-theme);

a:link {
  color: mat.get-color-from-palette($app-accent, 300);
}

a:visited {
  color: mat.get-color-from-palette($app-accent, 400);
}

a:hover {
  color: mat.get-color-from-palette($app-primary, 300);
}

a:active {
  color: mat.get-color-from-palette($app-primary, 300);
}
